<ion-header>
        <ion-toolbar>
            <ion-row>
                <ion-title>Side Effects</ion-title>
                <ion-button ion-button icon-start href="/home">
                  <ion-icon name="home">
                    start
      
                  </ion-icon>
      
                </ion-button>
                
                <ion-button ion-button icon-end href="/login">
                  <ion-icon name="exit">
                    end
      
                  </ion-icon>
      
                </ion-button>
            </ion-row>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        
      </ion-content>
      